{% extends "base.html" %} 
{% load crispy_forms_tags %}

{% block title %}Detail{% endblock title %} 

{% block content %}
<!-- <center>
<div class="container">
  {% csrf_token %}
  {{form|crispy}}
    <h2 style="font-family:verdana;">{{destination.name}}</h2>
    <h3 style="font-family:verdana;">{{destination.description}}</h3>
    <h3 style="font-family:verdana;">{{destination.activities}}</h3>
    <p><img src="{{destination.pretty_picture.url}}"></p class="center" width="200" hight="200">
    <p>{{destination.optimal_visiting_season}}</p>
    <a href="{% url 'destination-update' destination.id %}">
        <button>Update</button>
    </a>
    <a href="{% url 'destination-delete' destination.id %}">
        <button>Delete</button>
    </a>
</div>
</center> -->



<center>
<div class="col-4">
        <center>
  <div class="card text-white bg-secondary" style="width: 18rem;">
  <img src="{{destination.pretty_picture.url}}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{destination.name}}</h5>
    <h6 class="card-text">{{destination.description}}.</h6>
    <p class="card-text">{{destination.activities}}.</p>
    <!--<a href="{% url 'destination-detail' destination.id %}" class="btn btn-light">More Details</a>-->
    <p>{{destination.optimal_visiting_season}}</p>
    <a href="{% url 'destination-update' destination.id %}">
        <button class="btn btn-outline-light">Update</button>
    </a>
    <a href="{% url 'destination-delete' destination.id %}">
        <button class="btn btn-outline-light">Delete</button>
    </a>
  </div>
  </center>
</div>
</center>
{% endblock content %}