{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock title %}

{% block content %}

    <!--Grid row-->
    <div class="row mx-1">

        <!--Grid column-->
        <div class="col-md-12 mb-4">
            <div class="card card-image" style="background-color:rgba(255, 99, 71, 0.4);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h1 class="card-title py-3 font-weight-bold"><strong style="font-family:verdana;">Our Story</strong></h1>
                        <p class="pb-3">While planning for his first solo trip to Singapore, Vipul, our founder, realised that it takes hours (if not weeks) scrolling through endless online articles and blogs looking for the best travel tips. We go for a vacation to get some time out of our jobs, but planning that vacation brings us another job.
We started Trip Tourista with the intention of meeting all your travel needs with the highest precision, in-depth knowledge and the best value. To do this, we sought out some of the best destination experts and collaborated with some of the largest Destination Management Companies (DMCs) and Inbound Tour Operators (ITO). This will give you curated, hand-crafted and rare experiences at a comfortable cost.</p>
                        <a class="btn btn-outline-light" href="http://127.0.0.1:8000/destinations/list/"><i class="far fa-clone left"></i> View Our Trips </a>
                    </div>
                </div>
            </div>
        </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock content %}
